.chart {
	-fx-font-size: 12px; 
	-fx-font-style: normal;
	-fx-font-weight: bold;
}

.chart-plot-background {
	-fx-background-color: #333333;
}

.chart-series-line {
	-fx-stroke:  #FF4500;
	-fx-stroke-width: 2px;
}

/* 
* https://docs.oracle.com/javase/8/javafx/user-interface-tutorial/css-styles.htm#CIHGIAGE
* 
*     -fx-background-color: #860061, white;
*/

.chart-symbol { /* hollow circle */
    -fx-background-insets: 0, 0;
    -fx-background-radius: 4px;
    -fx-padding: 4px;
}
 
.series0 {
	-fx-background-color: #FF4500, #FF4500;
}
	
.series1 {
	-fx-background-color: #17F8AF, #17F8AF;
}
	
.series2 {
	-fx-background-color: #000000, #FF1901;
}
	
.series3 {
	-fx-background-color: #000000, #9FFB5A;
}

.series4 {
	-fx-background-color: #000000, #0196FB;
}

.series5 {
	-fx-background-color: #000000, #ffae00;
}

.series6 {
	-fx-background-color: #000000, #01ECFD;
}

.series7 {
	-fx-background-color: #000000, #014BFF;
}

.series8 {
	-fx-background-color: #000000, #022CDD;
}
	
.series9 {
	-fx-background-color: #000000, #02178D;
}

.series10 {
	-fx-background-color: #000000, #FFFFFF;
} 
